system-view
{% for server_group in server_groups%}
{% if server_group.name %}
hwtacacs scheme {{ server_group.name }}
user-name-format without-domain
{% endif %}
{% if server_group.address[0] %}
primary authentication {{ server_group.address[0] }}
{{ endif }}
{% if server_group.address[0] %}
primary authorization {{ server_group.address[0] }}
{{ endif }}
{% if server_group.address[0] %}
primary accounting {{ server_group.address[0] }}
{{ endif }}
{% if server_group.address[1] %}
secondary authentication {{ server_group.address[1] }}
{{ endif }}
{% if server_group.address[1] %}
secondary authorization {{ server_group.address[1] }}
{{ endif }}
{% if server_group.address[1] %}
secondary accounting {{ server_group.address[1] }}
{{ endif }}
{% if server_group.key[0] %}
key authentication cipher {{ server_group.key[0] }}
{{ endif }}
{% if server_group.key[0] %}
key authorization cipher {{ server_group.key[0] }}
{{ endif }}
{% if server_group.key[0] %}
key accounting cipher {{ server_group.key[0] }}
{{ endif }}
#
{% if authentication_scheme or authorization_scheme  or accounting_scheme%}
domain default 
{% endif %}
{% if authentication_scheme %}
authentication login hwtacacs-scheme {{ authentication_scheme }} local
{% endif %}
{% if authorization_scheme %}
authorization login hwtacacs-scheme {{ authorization_scheme }} local
authorization command hwtacacs-scheme {{ authorization_scheme }} local
{% endif %}
{% if accounting_scheme %}
accounting login hwtacacs-scheme {{ accounting_scheme }} local
accounting command hwtacacs-scheme {{ accounting_scheme }}
{% endif %}
#
{% for user in users %}
{% if user.username %}
local-user {{ user.username }} class manage
{% endif %}
{% if user.password%}
password simple {{ user.password }}
service-type telnet ssh terminal
authorization-attribute user-role network-admin
undo authorization-attribute user-role network-operator
{% endif %}
{% endfor %}
return
